.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 30px 60px 24px;
    background: white;
    z-index: 1;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.header .links {
}

.header .links a {
    border: #000F9F 1px solid;
}

.linkLight {
    border: #000F9F 1px solid;
    display: flex;
    gap: 26px;
    padding: 10px 8px 7px 12px;

    background-image: linear-gradient(to top, transparent 50%, #000F9F 50%);

    color: #000F9F;
    transition: all 500ms ease-in-out;

    background-position: 0 100%;
    background-size: 100% 200%;
}

.linkLight:not(:first-of-type) {
    border-right: none;
}

.linkLight:not(:first-of-type) {
    border-left: none;
}

.linkLight:hover {
    color: #FFFFFF;
    background-position: 0 0;
}

.linkDark {
    display: flex;
    gap: 26px;
    padding: 10px 8px 7px 12px;

    background-image: linear-gradient(to top, #000F9F 50%, #655DC6 50%);

    color: #FFFFFF;
    transition: all 500ms ease-in-out;

    background-position: 0 100%;
    background-size: 100% 200%;
}

.linkDark:hover {
    background-position: 0 0;
}
