.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 96px);

  padding: 60px 56px;

  .typewriter {
    display: block;
    color: #EFF0F4;
    max-width: 630px;

    font-size: 96px;
    line-height: 100%;
    letter-spacing: -0.03em;
    margin: 0
  }

  .left {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  .right {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    justify-self: right;
    text-align: right;
  }

  .paragraph {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
}
