.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 96px);
}

.hero span {
  display: block;
  color: #EFF0F4;
  max-width: 630px;

  font-size: 96px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.hero .left {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.hero .right {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  justify-self: right;
  text-align: right;
}

@media (max-width: 480px) {
  .hero {
    color: blue
  }

  .hero .right {

  }
}
