.section {

  .image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--section-padding) 0 0 var(--section-padding);
    overflow: hidden;

    img {
      display: block;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .content {
    position: relative;
    overflow: hidden;
    padding: 44px 60px 60px 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .text {
      padding-top: 28px;
      position: relative;
      overflow: visible;

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        background: #000F9F;
        left: 0;
        top: 0;
        right: -60px
      }

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      max-width: 75%;

      .heading {
        font-size: 48px;
        line-height: 120%;
        max-width: 33%;
      }

      .paragraph {
        max-width: 33%;
        line-height: 150%;
      }
    }
  }
}
@media only screen and (max-width: 480px),
only screen and (max-width: 760px) and (-webkit-device-pixel-ratio: 2) {
  .section {

    .image {
      min-height: 210px;
    }

    .content {
      padding: 24px 20px 20px 20px;

      .text {
        flex-direction: column;
        padding-right: 20px;

        .heading {
          font-size: 24px;
          max-width: unset;
        }

        .paragraph {
          font-size: 12px;
          max-width: unset;
        }
      }
    }
  }
}
