@import "../styles/basekick";

.container {
  display: flex;
  gap: 8px;

  transition: max-width 500ms ease-in-out;
  max-width: 75%;

  .image {
    height: 337px;
    min-width: 38px;
    max-width: 337px;
    flex: 0 1 auto;
  }

  &:hover {
    max-width: 100%;
  }

  .name {
    font-family: "fit-condensed";
    pointer-events: none;
    @include basekick(14, 32, 0.052, 11, 32, 0.8, 2.38)
  }

  .condensed {
    font-family: "fit-extra-contensed";
    @include basekick(14, 32, 0.052, 11, 32, 0.8, 2.38)
  }
}

