@font-face {
  font-family: 'PPNeueMachina';
  src: url('/fonts/PPNeueMachina-InktrapRegular.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PPNeueMachina;
  color: #000F9F;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 60px 56px;
}
